<!-- nav -->
<div>
    <nav class="navbar navbar-expand navbar-light" style="background-color: rgb(231, 231, 250);">
        <div class="text-center mr-5">
            <img src="../../assets/img/smartmeter.png" width="150vw" alt="logo"/>
        </div>

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li><a class="nav-item nav-link" routerLink="/">Home</a></li>
            <li><a class="nav-item nav-link" routerLink="/historique">Historique</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-item nav-link" routerLink="/resetpassword">Change password</a></li>
            <li><a class="nav-item nav-link" (click)="logout()">Logout</a></li>
        </ul>
    </nav> 
</div>

<div class="row d-flex justify-content-center">
    <div class="col-5">
        <div class="m-3 p-4" style="border: solid 1px; border-radius: 10px; background-color: rgb(231, 231, 250);">
            <h2 class="text-center">Reset password</h2>
            <p class="text-center">Entrez votre mot de passe actuel.</p>
            <br>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="form-group">
                        <input type="password" placeholder="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>      
                </div>
                <br>
                <div class="form-group text-center">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Envoyer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

