<!-- nav -->
<div>
    <nav class="navbar navbar-expand navbar-light" style="background-color: rgb(231, 231, 250);">
        <div class="text-center mr-5">
            <img src="../../assets/img/smartmeter.png" width="150vw" alt="logo"/>
        </div>

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li><a class="nav-item nav-link" routerLink="/">Home</a></li>
            <li><a class="nav-item nav-link" routerLink="/historique">Historique</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-item nav-link" routerLink="/resetpassword">Change password</a></li>
            <li><a class="nav-item nav-link" (click)="logout()">Logout</a></li>
        </ul>
    </nav> 
</div>



<div class="container-build">
    <div class="row d-flex justify-content-center   ">
        <div class="col-5 m-3 p-2" style="border: solid 2px; border-radius: 10px; background-color: rgb(247, 247, 252);">
            <div class="text-center">
                <h2>Informations détaillées</h2>
            </div>
            <div class="m-4">
                <table style="border-spacing: 0 15px; border-collapse: separate;">
                    <tr>
                        <td>Tension (V)</td>
                        <td>{{measure.voltage}}</td>
                    </tr>
                    <tr>
                        <td>Courant (A)</td>
                        <td>{{measure.current}}</td>
                    </tr>
                    <tr>
                        <td>Energy (Wh)</td>
                        <td>{{measure.finalEnergyValue}}</td>
                    </tr>
                    <tr>
                        <td>Puissance (W) &nbsp;&nbsp;</td>
                        <td>{{measure.realPower}}</td>
                    </tr>
                </table>
            </div>

            <hr style="color: grey; border:solid 1px;">

            <div class="m-4">
                <p>Etat:{{measure.etat}}</p>
                <button (click)="toggleCurrent()">button</button>
            </div>
            
        </div>

         <div class="col-5 m-3 p-2" style="border: solid 2px; border-radius: 10px; background-color: rgb(247, 247, 252);">
            <div class="text-center">
                <h2>Graphique consommation vs time</h2>
            </div>
            
            <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
            
        </div>
    </div>
    
</div>

